@font-face {
  font-family: 'wkpukgul';
  src: url('/assets/fonts/Wkpukgul.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WKLGM';
  src: url('/assets/fonts/WKLGM.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WKLCHBO';
  src: url('/assets/fonts/WKLCHBO.ttf');
  font-weight: normal;
  font-style: normal;
}