/** From Metronic material design3 {{{ **/
/** }}} **/
body {
  background: url('/assets/img/bg.jpg') repeat;
  font-family: 'WKLCHBO';
}
body .homepage-container {
  width: 1200px;
  margin: 0px auto;
  background-color: #fff;
}
body .homepage-container .homepage-header {
  background: url("/assets/img/header.jpg") no-repeat;
  width: 100%;
  height: 165px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
body .homepage-container .homepage-header .homepage-logo {
  width: 180px;
  height: 74px;
  position: relative;
  left: 50px;
  top: 45px;
}
body .homepage-container .homepage-header .site-name {
  width: 300px;
  float: right;
  position: relative;
  top: 50px;
}
body .homepage-container .homepage-header .site-name a {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
body .homepage-container .homepage-header a.responsive-toggler {
  background-image: url(/assets/img/sidebar_inline_toggler_icon_grey.jpg);
}
body .homepage-container .slogan-section .carousel {
  border-bottom: 5px solid #cc2409;
  padding: 1px;
}
body .homepage-container .slogan-section .carousel.fade {
  opacity: 1;
  filter: alpha(opacity=100);
}
body .homepage-container .slogan-section .carousel.fade .item {
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  opacity: 0;
  filter: alpha(opacity=0);
}
body .homepage-container .slogan-section .carousel.fade .item.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
body .homepage-container .slogan-section .carousel .carousel-inner {
  border-bottom: 1px solid #cc2409;
}
body .homepage-container .slogan-section .carousel .carousel-inner .item {
  text-align: center;
}
body .homepage-container .homepage-content-wrapper .homepage-content {
  margin: 10px;
  padding: 10px;
}
body .homepage-container .homepage-content-wrapper .homepage-content .pagination li.active span {
  background-color: #cc2409;
  border-color: #cc2409;
}
body .homepage-container .homepage-content-wrapper .homepage-content .pagination li a {
  color: #cc2409;
}
body .homepage-container .homepage-footer {
  width: 100%;
  height: 40px;
  padding: 8px 0px;
  background: #cc2409;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.border-bottom {
  border-bottom: 1px solid #d6afa9;
}
